/*Geral*/

@font-face {
    font-family: 'fonte pokemon';
    src: url(fontes/Pokemon\ Classic.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    background: #e7e3cb;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

p {
    color: rgb(31, 31, 31);
    font-size: 20px;
    padding: 10px;
    text-indent: 20px;
}

.imagem img {
    height: 6vh;
}

section {
    width: 100%;
    height: 70vh;
}

footer {
    flex-shrink: 0;
    height: 10%;
    width: 100%;
    margin-top: auto;
    background-color: #7a0c1f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fonte pokemon, Helvetica, sans-serif;
    font-size: small;
    box-shadow: 0 0 5px #7a0c1f, 0 0 10px #7a0c1f, 0 0 20px #7a0c1f;
}

footer p {
    color: #ffffff;
    font-family: fonte pokemon, Helvetica, sans-serif;
    font-size: smaller;
    overflow-wrap: break-word;
}

nav {
    display: flex;
    height: 45px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7a0c1f;
    padding: 0.5rem 2.5rem;
    border: 1px solid #7a0c1f;
    box-shadow: 0 0 5px #7a0c1f, 0 0 10px #7a0c1f, 0 0 20px #7a0c1f;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav ul li {
    padding: 2vh;
    margin-right: 1vh;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-family: fonte pokemon, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}

nav ul li:hover {
    scale: 1.2;
    font-weight: 700;
}

a:link{
    color: #c92540;
    text-align: center;
}

a:visited{
    color: white;
    text-decoration: dotted;
    text-align: center;
}

a:hover{
    color: #ff2247;
    text-decoration: underline;
    text-align: center;
}

#inPrincipal {
    text-decoration: underline;
}
#inInformations {
    text-decoration: underline;
}

@media (max-width: 680px) {
    nav ul li a {
        font-size: 11px;
    }

    nav ul li {
        padding: 3px;
    }

    nav {
        padding: 0.5rem 2.5rem 0.5rem 0.6rem;
    }
}

/*Página Principal*/

#principal {
    padding-top: 4%;
}

#sec2 h1 {
    text-align: center;
    margin-bottom: 10px;
    padding-top: 2.0rem;
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #2e4f91;
}

#posts-principais {
    text-align: center;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    width: 100%;
    max-width: 1300px;
    padding: 0 1.2rem;
    box-sizing: border-box;
    flex: 1;
    justify-content: center;
    padding-top: 30px;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 10px;
    column-gap: 60px;
    row-gap: 24px;
}

.postagem {
    position: relative;
    aspect-ratio: 4/3;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    width: 350px;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.8);
}

@media (max-width: 1360px) {
    #sec2 {
        height: auto;
        padding-bottom: 50px;
    }
    }
    #sec1 img {
        width: 60vw;
    }

@media (max-width: 990px) {
    #posts-principais .postagem::after,
    #posts-principais .postagem h2 {
    opacity: 1;
}
    #sec1 img {
        width: 80vw;
    }
}

.postagem h2 {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 6px rgb(0, 0, 0);
    opacity: 0;
    transition: 0.3s;
    z-index: 2;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 28px;
    padding: 10px 15px 10px 15px;
}

.postagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.postagem::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #172244bd, transparent);
    opacity: 0;
    transition: 0.3s;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#posts-principais .postagem:hover::after,
#posts-principais .postagem:hover h2 {
    opacity: 1;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

#sec1 {
    background-image: url(imagens/pokemon-anniversary-wallpaper-5120x1440-v0-2zl712jin0ga1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sec2 {
    background-image: linear-gradient(to right, #fffd8e, #f7f566, #fffd8e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 50px;
}

#posts-principais a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postagem a::after {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postagem article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

/*Iniciais*/

#initial-new {
        padding-top: 4%;
    }

@media (max-width: 1500px) {
    #initial-new {
        padding-top: calc(6.5vh + 20px);
    }
}
@media (max-width: 1250px) {
    #initial-new {
        padding-top: calc(8.3vh + 20px);
    }
}

@media (max-width: 1000px) {
    #initial-new {
        padding-top: calc(7vh + 25px);
    }
}

.initials-txt p {
    font-size: 1.2rem;
}

#initial-new img {
    width: 90%;
    height: 70%;
    margin: 2% 0% 2% 2%;
    transition: transform 0.3s ease;
}

#planta,
#fogo,
#agua,
#pikachu {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#planta {
    background-color: #6b9a73;
}

#planta h2 {
    color: rgb(0, 78, 0);
    text-align: center;
}

#fogo {
    background-color: #e27e4d;
}

#fogo h2 {
    color: rgb(182, 8, 8);
    text-align: center;
}

#agua {
    background-color: #90c7d6;
}

#agua h2 {
    color: rgb(8, 99, 99);
    text-align: center;
}

#pikachu {
    background-image: url(imagens/images.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
}

#pikachu-txt {
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5% 5% 5% 5%;
}

#pikachu p {
    color: rgb(0, 0, 0);
}

#pikachu h2 {
    color: rgb(167, 5, 5);
    text-align: center;
}

#pikachu h1 {
    color: rgb(182, 13, 13);
    text-align: center;
}

#pikachu img {
    width: 100%;
    height: 80%;
}

@media(max-width: 900px) {
    #pikachu {
        background-position: right;
        flex-direction: column;
        padding-top: 20%;
    }
}

#initials h1, h2, p {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#pikachu h1, h2, p {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
}



/*Fatos*/

#linkVideo{
    padding-top: 5%;
    text-align: center;
}

.video {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
}

#titulo_fatos {
    margin-top: 5%;
    text-align: center;
    color: #7a0c1f;
    font-family: Arial, sans-serif;
    position: relative;
}

#textos_fatos {
    margin-right: 20%;
    margin-left: 20%;
}

@media (max-width: 900px) {
    #textos_fatos {
        margin-right: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 733px) {
    iframe {
        max-width: 100%;
        height: 250px;
    }
}

#pagina-fatos footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: relative;
}

/*Favoritos*/

#favoritos {
    padding-top: 4%;
}

#imgSceptile,
#imgKadabra,
#imgHoopa,
#imgGreninja {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
}

.imagemEsquerda {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.imagemDireita {
    float: right;
    margin-right: 30px;
    margin-bottom: 20px;
}

#Sceptile {
    background-color: #81b485;
    margin-top: 13px;
    padding: 20px 20px 10px 20px;
    overflow: auto;
}

#Kadabra {
    background-color: #cdb865;
    padding: 10px 20px 10px 100px;
    overflow: auto;
}

#Hoopa {
    background-color: #928b98;
    padding: 10px 20px;
    overflow: auto;
}

#Greninja {
    background-color: #7abfe2;
    padding: 10px 20px 10px 100px;
    overflow: auto;
}

#Sceptile,
#Kadabra,
#Hoopa,
#Greninja {
    font-size: 20px;
}

#Sceptile h2,
#Kadabra h2,
#Hoopa h2,
#Greninja h2 {
    margin-top: 30px;
    transition: all 0.3s ease;
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

#Sceptile h2:hover,
#Kadabra h2:hover,
#Hoopa h2:hover,
#Greninja h2:hover {
    transform: translateX(8px);
}

#Sceptile ul,
#Kadabra ul,
#Hoopa ul,
#Greninja ul {
    margin-top: 10px;
}

#imgSceptile:hover,
#imgKadabra:hover,
#imgHoopa:hover,
#imgGreninja:hover,
#initial-new img:hover,
#pikachu img:hover {    
    transform: scale(1.1);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
} /*Usado para imagens da página de iniciais também!*/

#Sceptile h2:hover {
    color: #1f6b2a;
    text-shadow: 0 0 5px rgba(31, 107, 42, 0.3);
}

#Kadabra h2:hover {
    color: #896300;
    text-shadow: 0 0 5px rgba(184, 134, 11, 0.3);
}

#Hoopa h2:hover {
    color: #6a0dad;
    text-shadow: 0 0 5px rgba(106, 13, 173, 0.3);
}

#Greninja h2:hover {
    color: #0057b8;
    text-shadow: 0 0 5px rgba(0, 87, 184, 0.3);
}

#principal h2:hover, li{
    font-family: "Bree Serif", serif;
    font-weight: 400;
    font-style: normal;
}

/*Informações*/


#informations {
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
    gap: 10%;
    background-color: rgb(24, 23, 23);
}

#informations section {
    flex: 1;
    text-align: center;
    height: 95%;
    overflow: auto;
}

#informations img {
    height: 40%;
    width: 100%;
}

#autors {
    margin-left: 2%;
    background-color: #73b4dd;
}
#autors h2 {
    color: #0b4f69;
}

#recomendations {
    background-color: #fed87c;
}
#recomendations h2 {
    color: rgb(104, 104, 5);
}

#credits {
    margin-right: 2%;
    background-color: #f4816b;
}
#credits h2 {
    color: rgb(172, 1, 1);
}

