@font-face {
    font-family: 'fonte pokemon';
    src: url(fontes/Pokemon\ Classic.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: #e7e3cb;
}

nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #7a0c1f;
    padding: 7px 40px;
    border: 1px solid #7a0c1f;
    box-shadow:  0 0 5px #7a0c1f, 0 0 10px #7a0c1f, 0 0 20px #7a0c1f;
}
nav ul{
    display: flex;
    list-style: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
nav ul li{
    padding: 1vh;
    margin-right: 1vh;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-family: fonte pokemon, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
}
nav ul li:hover{
    scale: 1.2;
    font-weight: 700;
}
.imagem img{
    height: 6vh;
}
section{
    width: 100%;
    height: 100vh;
}
#sec1{
    background-image: url(imagens/my-desktop-wallpaper-every-pokemon-from-gen-1-3-v0-kWtagv6tE9HNJaOa1a4VjNbrc24RehnMImeZWQJyV4k.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sec2{
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width: 680px){
    nav ul li a{
        font-size: 11px;
    }
    nav ul li {
        padding: 3px;
    }
    nav {
        padding: 7px 40px 7px 10px;
    }
}